<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <title>Add aplliances</title>
    <link rel="stylesheet" type="text/css" href="/css/pages/appliances.css">
  </head>

  <body>
  <%- include ../partials/header -%>
  <nav>
    <a href="<%= urlDash %>">Live dashboard</a>
    <a class="active" href="<%= urlAppl %>">Appliances</a>
  </nav>
  <main>
    <fieldset class="aplliances">
      <div class="field">
        <label for="appliance">Appliance name</label>
        <input name="appName" type="text">
        <label for="voltage">Voltage <strong>(v)</strong></label>
        <input name="voltage" type="number" min="0">
        <label for="energy">Ampere <strong>(a)</strong></label>
        <input name="ampere" type="number" min="0">
        <label for="power">Watt <strong>(w)</strong></label>
        <input name="watt" type="number" min="0">
        <label for="quantity">Quantity</label>
        <input name="quantity" type="number" min="0">
      </div>
    </fieldset>
  </main>
  <div class="buttons">
    <button type="submit" name="button" value="submit">Submit</button>
    <button id='add'>✚ Add</button>
    <button id='remove'>✖ Remove</button>
  </div>


  <%- include ../partials/footer -%>
  <script type="text/javascript" src="/js/appliances.js"></script>
  </body>
</html>
