<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <title>Add appliances</title>
    <link rel="stylesheet" type="text/css" href="/css/pages/appliances.css">
  </head>

  <body>
  <%- include ../partials/header -%>
  <nav>
    <a href="<%= urlDash %>">Live dashboard</a>
    <a class="active" href="<%= urlAppl %>">Appliances</a>
  </nav>
  <main>
    <form method="post">
      <fieldset class="appliances">
        <div class="field">
          <label for="appliance">Appliance name</label>
          <input type="text">
          <label for="voltage">Voltage <strong>(v)</strong></label>
          <input type="number" min="0">
          <label for="energy">Ampere <strong>(a)</strong></label>
          <input type="number" min="0">
          <label for="power">Watt <strong>(w)</strong></label>
          <input type="number" min="0">
          <label for="quantity">Quantity</label>
          <input type="number" min="0">
        </div>
      </fieldset>
      <div class="buttons">
        <button type="button" id='add'>✚ Add</button>
        <button type="button" id='remove'>✖ Remove</button>
      </div>
      <button type="submit" name="appliance">Submit appliances</button>
    </form>
  </main>

  <%- include ../partials/footer -%>
  <script type="text/javascript" src="/js/appliances.js"></script>
  </body>
</html>
