<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="/css/pages/dashboard.css">
    <title>Dashboard</title>
  </head>

  <body>
    <%- include ../partials/header -%>
    <nav>
      <a class="active" href="<%= url %>">Live dashboard</a>
      <a href="/appliances">Appliances</a>
    </nav>
    <main>
      <h1><%= festival %></h1>
      <section>
        <h1>Consumed</h1>
        <article class="progress-bar">
          <span style="width: <%= totalUsage %>"></span>
        </article>
      </section>
      <section>
        <h1>Appliances</h1>
        <article class="appliances">
          <% appliances.map(function (appliance) { %>
            <div>
              <h1><%= appliance.name %></h1>
              <canvas class="charts" id="<%= appliance.name %>-chart"></div>
            </div>
          <% }) %>
        </article>
      </section>
    </main>
    <%- include ../partials/footer -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js" charset="utf-8"></script>
    <script>
      var appliances = document.getElementsByClassName('charts');

      for (let i = 0; i < appliances.length; i++) {
        new Chart(appliances[i], {
          type: 'doughnut',
          data: {
            labels: [
              'Good',
              'Oke',
              'Bad'
            ],
            datasets: [{
              data: [<%= data %>],
              backgroundColor: [
                'hsl(145, 67%, 60%)',
                'hsl(48, 90%, 65%)',
                'hsl(351, 87%, 65%)'
              ],
              hoverBackgroundColor: [
                'hsl(145, 67.4%, 46.9%)',
                'hsl(48, 90%, 51%)',
                'hsl(351, 87%, 56%)'
              ]
            }]
          }
        });
      }
    </script>
  </body>
</html>
