<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="css/pages/subscription.css">
    <title>Subscription</title>
  </head>

  <body>
    <%- include ../partials/header -%>
    <main>
      <section class="current-label">
        <h1>Current Label</h1>
        <article class="<%= label %>">
          <span><%= label %></span>
        </article>
      </section>
      <section class="current-subscription">
        <h1>Current Subscription</h1>
        <article>
          <span><%= subscription.size %></span>
          <span><%= subscription.cost %></span>
        </article>
      </section>
    </main>
    <%- include ../partials/footer -%>
  </body>
</html>
